.w-100{
    background-color: black;
    height:480px ;
}

nav {
    background-color: $liiongris;
    width: 100%;
    display: flex;

    div {
        a {
            text-decoration: none;

            h1 {
                font-size: 2.5rem;
                color: $liion;
                font-weight: bolder;
                font-style: oblique;
                text-shadow: 1px 1px 1px black;
                &:hover {
                    transition: 0.8s;
                    text-shadow: 3px 3px 6px black;
                }
            }
        }
    }
}

.navbar {
    padding: 0.3rem;
}

.navbar-collapse {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media (min-width: 990px) {

    .navbar-collapse {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}

.nav-link {
    padding-block-end: 0.5rem !important;
    font-size: 1rem;
    color: $liion;

    &:hover {
        color: $liionluz;
        text-decoration: overline;
        text-shadow: 3px 3px 6px black;
        transition: 0.6s;
    }

}
.navbar-toggler{
    color: $liion;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: url(../../../imagenes/lista.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

}

.active {
    color: $liiongris !important;
    font-weight: bolder;
    font-style: oblique;
    text-decoration-line: overline;
    text-shadow: 2px 1px 2px black;
}