/*colores */
/*mixin sin argumentos*/
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
* {
  margin: 0px;
  top: 0px; }

body {
  background-color: black; }

@media (min-width: 354px) and (max-width: 380px) {
  nav h1 {
    font-size: 2.7rem;
    /* basado en la pantalla de; galaxy s8+ cuya pantalla es 360px*/ } }
@media (max-width: 354px) {
  nav h1 {
    font-size: 1.8rem;
    /* basado en la pantalla de; galaxy fold cuya pantalla es 280px*/ }

  h2 {
    font-size: 1.5rem !important;
    text-shadow: 1px 1px 1px black; } }
/*///////////////////video presentacion*/
#video-container {
  position: relative; }

video {
  width: 100%;
  height: 480px;
  object-fit: cover;
  filter: brightness(0.5); }

#texto-superpuesto {
  color: #00ECFF;
  position: absolute;
  top: 50%;
  right: 10%;
  left: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  text-shadow: 2px 2px 4px black; }
  #texto-superpuesto h2 {
    text-align: center;
    font-size: larger;
    font-weight: bolder; }
  #texto-superpuesto p {
    text-align: center;
    font-size: medium;
    font-weight: 500; }

@media (max-width: 768px) {
  #texto-superpuesto {
    top: 50%;
    right: 10px;
    left: 10px; }
    #texto-superpuesto h2 {
      text-align: center;
      font-size: larger;
      font-weight: bolder; }
    #texto-superpuesto p {
      text-align: inherit;
      font-size: medium;
      font-weight: 500; } }
/*///////Fin Video Presentacion*/
* {
  font-family: 'Cinzel', serif; }

a {
  text-decoration: none; }

.container2 {
  width: 100%; }

.w-100 {
  background-color: black;
  height: 480px; }

nav {
  background-color: #2d2d2d;
  width: 100%;
  display: flex; }
  nav div a {
    text-decoration: none; }
    nav div a h1 {
      font-size: 2.5rem;
      color: #00ECFF;
      font-weight: bolder;
      font-style: oblique;
      text-shadow: 1px 1px 1px black; }
      nav div a h1:hover {
        transition: 0.8s;
        text-shadow: 3px 3px 6px black; }

.navbar {
  padding: 0.3rem; }

.navbar-collapse {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }

@media (min-width: 990px) {
  .navbar-collapse {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; } }
.nav-link {
  padding-block-end: 0.5rem !important;
  font-size: 1rem;
  color: #00ECFF; }
  .nav-link:hover {
    color: #f4ec0a;
    text-decoration: overline;
    text-shadow: 3px 3px 6px black;
    transition: 0.6s; }

.navbar-toggler {
  color: #00ECFF; }

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: url(../../../imagenes/lista.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%; }

.active {
  color: #2d2d2d !important;
  font-weight: bolder;
  font-style: oblique;
  text-decoration-line: overline;
  text-shadow: 2px 1px 2px black; }

footer {
  box-shadow: 1px 1px 1px 1px #f4ec0a;
  padding: 5%;
  background: black; }
  footer h5 {
    color: #00ECFF;
    text-shadow: 0px 0px 1px black; }

.carta-b {
  height: 300px;
  background-color: rgba(255, 255, 255, 0.4);
  text-align: center;
  padding: 30px;
  margin: 20px 2px;
  border: 5px;
  border-radius: 10px;
  text-shadow: 1px 1px 1px #2d2d2d; }
  .carta-b h2 {
    color: whitesmoke;
    font-size: 2em; }
  .carta-b p {
    color: whitesmoke;
    font-size: 1em; }
  .carta-b img {
    width: 310px;
    height: 200px; }

.carta-g {
  height: min-content;
  background-color: #2d2d2d;
  text-align: center;
  padding: 30px;
  margin: 20px 2px;
  border: 5px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
  border-color: black;
  background-size: contain;
  text-shadow: 0px 0px 2px black; }
  .carta-g h2 {
    color: white;
    font-size: 2.5em; }
  .carta-g p {
    color: white;
    font-size: 1em; }

main {
  background-color: black; }

.hom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center; }

/*# sourceMappingURL=estilo.css.map */
